@import "tailwindcss";


.bg-cyan{
    background-color: #2ebbda;
}
.bg-light{
    background-color: #a4deeb;
}
.categories{
      background-color: #a4deeb;
    margin: 4px !important;
    border-radius: 11px;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    transition: ease-in-out .5s;
}
.categories:hover{
    background-color: #efc623!important;

}
